doctype 5
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        title= title
        block css
            link(rel='stylesheet', href='/less/admin.css')
        block js
    body
        nav.navbar.navbar-default(role="navigation")
            .container
                a.navbar-brand(href="/") <%= appname %>
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        if adminNav
                            each v in adminNav
                                li: a(href=v.route)= v.routeName
        .container
            block content